# gitignore for POP2

# directories checked out by manage_externals, and other files created
# by manage_externals
manage_externals.log
externals/MARBL
externals/CVMix

# binary files
*.nc

# editor files
*.swp
*~

# mac files
.DS_Store

# cime_config
buildnmlc
buildcppc

# misc
*.pyc
*.gz
